* {
    border: 1px solid red;
    box-sizing: border-box;
}

.navbar {
    background: #765C3D;
}

.navbar-brand img {
    width: 3.0395rem;
    height: 2.75rem;
}

.nav-link {
    color: #F2D2AE;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 500;
}
