h3 {
	color: hotpink;
}

/*ID Selector*/
/*The ID selector uses a '#' symbol to signify that it is an ID.*/
#zuitt-motto-p {
	letter-spacing: 5px;
}

/*Class Selector*/
/*Class slector uses a '.' symbol to signify that it is a class.*/
.offering-item {
	text-transform: uppercase;
}

/*You can use the !important flag to make the prioritization of this specific style a high priority.*/
h1 {
	color: blueviolet !important;
}

/*Adjacent Sibling Selector*/
/*The adjacent sibling selector can select a sibling of the initial element only if it is written adjacent to it. If the element is far away from the initial element, then the adjacent sibling selector will not work.*/
h1 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
/*The descendant selector selects a child of the initial parent sibling.*/
#bootcamp-learning-list li {
	color: indianred;
}

/*General Sibling Selector*/
/*The general sibling selector will select a sibling regardless on how far it is from the initial element.*/
h2 ~ a {
	text-decoration: none;
	color: black;
}

html {
	scroll-behavior: smooth;
}

section {
	height: 100vh;
	text-align: center;
}

ol {
	list-style-type: none;
	padding: 0;
}